server:
  port: 8082

spring:
  application:
    name: card
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/card_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:sa}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    show-sql: false


app:
  security:
    # Look for ENV variable 'CARD_HASH_SALT'
    # If not found, use the dev salt
    blind-index-salt: ${CARD_HASH_SALT:1234567890abcdefghijklmnopqrstuvwxyz}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true