server:
  port: 8086

application:
  config:
    account-service-url: http://localhost:8084
    card-service-url: http://localhost:8082
    fraud-service-url: http://localhost:8088

spring:
  application:
    name: transaction
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/transaction_db
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:sa}
    driver-class-name: org.postgresql.Driver
  cloud:
    openfeign:
      httpclient:
        hc5:
          enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false
    show-sql: false

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true